<h1>Pages#contact</h1>
<p><%= number_to_phone("5555555555") %></p>
<p><%= number_to_currency("150.25") %></p>
<p><%= number_to_percentage("50.2", precision: 1) %></p>
<p><%= number_with_delimiter("1232343") %></p>
